include *.txt
include Makefile
include README.rst
include logo/logo.png
recursive-include docs *.rst *.png *.py
recursive-include wrappers *.m *.R
recursive-include bin *.py
recursive-include notebooks *.ipynb *.py *.png *.sh
