import(rjson)

export(manual)
export(generate_folds)
export(optimize2)
export(make_solver)

export(random_search)
export(grid_search)
export(nelder_mead)
export(particle_swarm)
export(cma_es)

export(cv.setup)
export(cv.run)
