import(rjson)
import(ROCR)
import(enrichvs)
import(plyr)

export(manual)
export(generate_folds)
export(optimize2)
export(make_solver)

export(random_search)
export(grid_search)
export(nelder_mead)
export(particle_swarm)
export(cma_es)

export(cv.setup)
export(cv.run)
export(cv.grid_search)

export(score.neg.mse)
export(score.accuracy)
export(score.roc.auc)
export(score.pr.auc)
export(score.rie)
export(score.bedroc)
